@import url('https://fonts.googleapis.com/css?family=Amiri|Gudea|Anaheim|Antic|Athiti|Poly|Pompiere|Armata|Encode+Sans+Semi+Expanded|Kite+One|Noto+Serif');
/*
novel
Hina Mincho
Crimson Text
Amiri


plain
Gudea

Athiti
Convergence

soft
KiteOne
Gotu

hard, future
Titillium Web
Jura
*/

$font-title     : 'Armata', sans-serif;
$font-body      : 'Anaheim', sans-serif;  //Gudea 1.5em ;
$font-narrative : 'Amiri', sans-serif;
$font-part      : 'Antic', sans-serif;
$font-synopsis  : 'Anaheim', sans-serif;
$font-menu      : 'Anaheim', sans-serif;
$font-chapter   : 'Pompiere', serif;    //Snippet ; Metamorphous 1.4em ; 